<ul>
  {{#each toilet in model}}
    <li>
      {{toilet.title}}
      <p>
        {{#if toilet.accessible}}
          <i class="fa fa-wheelchair"></i>
        {{/if}}
      </p>
    </li>
  {{/each}}
</ul>
