<ul>
  {{#each toilet in model}}
    <li>
      {{#link-to 'toilet.show' toilet.id}}
        {{toilet.title}}
      {{/link-to}}
      <p>
        {{#if toilet.accessible}}
          <i class="fa fa-wheelchair fa-lg"></i>
        {{/if}}

        {{#if toilet.male}}
          <i class="fa fa-male fa-lg"></i>
        {{/if}}

        {{#if toilet.female}}
          <i class="fa fa-female fa-lg"></i>
        {{/if}}

        {{#if toilet.babyChange}}
          <i class="fa"></i>
        {{/if}}

      </p>
    </li>
  {{/each}}
</ul>


