// Flusher Colours //
$flushblue: #539bd4;
$flushgrey: #f2f2f2;



// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Gray Scale
$white: white;
$silver: #dddddd;
$gray: #aaaaaa;
$black: #111111;

// lightest -> lighter -> light -> base(omitted) -> medium -> dark -> darker -> darkest
$navbar-default-link-hover-color: white;
$c-blue-dark: #0b3253;
$c-blue-medium: #156e8d;
$c-blue: #258be2;
$c-blue-light: #339af2;
$c-blue-lighter: #219bac;
$c-blue-lightest: #bbdcee;
$c-green: #2ecc71;
$c-green-medium: #327c47;
$c-green-dark: #0f421e;
$c-orange: #e67e22;
$c-orange-medium: #a8560e;
$c-orange-dark: #6b3a0f;
$c-yellow: gold;
$c-red: #e74c3c;
$c-red-medium: #942317;
$c-red-dark: #58150e;
$c-gray-darkest: #0f0f0f;
$c-gray-darker: #252525;
$c-gray-dark: #444444;
$c-gray: #666666;
$c-gray-medium: #aaaaaa;
$c-gray-light: #e1e1e1;
$c-gray-lighter: #eeeeee;



