// @group Landing Page Stylesheet //

	#landing-page {

		.logo-large {
			background: url('/assets/images/flushed-logo-large.png');
			width: 274px;
			height: 400px;
			display: inline-block;
			position: relative;
      margin-left: 24%;
		}

	} // @end #landing-page
