#sidemenu{
  background: $c-gray-darkest;
  position: fixed;
  top: 0;
  left: 0;
  width: 55px;
  z-index: 998;
  height: 100%;
  border-right: 1px solid $black;
  transition: all .15s ease-out;
  -webkit-transition: all .15s ease-out;

  header {
    padding-bottom: $default-margin / 2;
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
    .brand {
      font-size: 18px;
      font-weight: bold;
      padding-left: $default-margin;
      &:hover {
        color: $c-blue;
      }
      color: $white;
      overflow: hidden;
    }
  }
}
