#toilet-listings {
	height: 100%;
	overflow-y: scroll;
	padding-bottom: $default-margin;

	& > ul {
		padding-left: $default-margin/2;
	}

	.toilet-title {
		font-size: 1.2em;
		font-weight: 500;
	}

}

li.toilet-li {
  border-bottom: 2px solid $flushgrey;
  padding: $default-margin/2;
  &:hover {
    background: $flushgrey;
    i {
      color: $black;
    }
  }
  i {
    color: $c-gray-medium;
  }
}

.toilet-title {
  font-size: 18px;
}

.toilet-rating {
  font-weight: 300;
  font-size: 24px;
}

.rating-container {
  i.fa {
    cursor: pointer;
  }
  i.fa-sort-up {
    position: absolute;
    right: 33px;
    &:hover {
      color: $flushblue;
    }
  }
  i.fa-sort-down {
    position: absolute;
    right: 33px;
    &:hover {
      color: $flushblue;
    }
  }
}

.toilet-filter-btn.active {
  button.btn {
    background: $flushblue;
  }
}
