#toilet-listings {
	height: 100%;
	overflow-y: scroll;
	padding-bottom: $default-margin;

	& > ul {
		padding-left: $default-margin/2;
	}

	.toilet-title {
		font-size: 1.2em;
		font-weight: 500;
	}

}
