{{render 'sidemenu'}}
<div class="outer-wrap">
  <div class="row" style="height: 100%">
    <div class="col-sm-6">
      {{outlet}}
    </div>
    <div class="col-sm-6" style="height: 100%">
      <div id="map">
        {{leaflet-map}}
      </div>
    </div>
  </div>
</div>
