
<div class="container">

	<div class="row col-xs-12 margin-8">

		<div class="flush-logo-large"></div>

		<h1 class="center-align">Finding the lushest restrooms near you</h1>

		{{#link-to 'toilet.index'}}
			<button class="btn btn-primary margin-4">
		        Get Started
		    </button>
		{{/link-to}}
		
		<div> 
			<i class="icon"></i>
		</div>

	</div> 

</div>