<div id="sidemenu">
  <header>
    {{#link-to 'index'}}
    	<div class="logo"></div>
      {{!-- <h1 class="brand">flushed</h1> --}}
    {{/link-to}}
  </header>

	<body>
		
		<div class="container">
			<div class="row">

				<div class="search-bar"></div>

				<div class="add-new-btn"></div>

			</div>
		</div>{{! end Search/Add New button}}

		<div class="container">
			<div class="row">
				<ul class="listings no-bullets">

					<li>
						<h3>Name</h3>
						<h4>Location</h4>
						<h1>95%</h1>

					</li>

					<div class="seperating-line"></div>

					<li>#2</li>
					<li>#3</li>
					<li>#4</li>
					<li>#5</li>
				</ul>
			</div>
		</div>

	</body>

</div>
