<div id="sidemenu">
  <header>
    {{#link-to 'index'}}
    	<div class="logo"></div>
      {{!-- <h1 class="brand">flushed</h1> --}}
    {{/link-to}}
  </header>
  <ul class="list-unstyled sidemenu-nav-list">
    <li>
      {{#link-to 'toilet.index'}}
        <i class="fa fa-list-ul fa-lg"></i>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'toilet.new'}}
        <i class="fa fa-plus-circle fa-lg"></i>
      {{/link-to}}
    </li>

  </ul>
</div>
