<div class="row animated fadeIn" style="height: 100%">
  <div class="col-sm-5" id="toilet-listings">

    <form class="form">
      <div class="form-group margin-2">
        {{input class="form-control input-lg" valueBinding="search" id="search-query" placeholder="Search"}}
      </div>
    </form>

    {{#link-to 'toilet.index' class="toilet-filter-btn"}}
      <button class="btn btn-info">Everything</button>
    {{/link-to}}
    {{#link-to 'toilet.accessible' class="toilet-filter-btn"}}
      <button class="btn btn-info">Accessible</button>
    {{/link-to}}
    {{#link-to 'toilet.babychange' class="toilet-filter-btn"}}
      <button class="btn btn-info">Babychange</button>
    {{/link-to}}
    {{#link-to 'toilet.unisex' class="toilet-filter-btn"}}
      <button class="btn btn-info">Unisex</button>
    {{/link-to}}

  {{outlet}}

  </div>
  <div class="col-sm-7" style="height: 100%; padding:0;">
    <div id="map">
      {{leaflet-map content=model}}
    </div>

  </div>
</div>
