<div class="row animated fadeIn" style="height: 100%">
  <div class="col-sm-5" id="toilet-listings">

    <form class="form">
      <div class="form-group margin-2">
        {{input class="form-control input-lg" valueBinding="search" id="search-query" placeholder="Search"}}
      </div>
    </form>

  {{outlet}}

  </div>
  <div class="col-sm-7" style="height: 100%">
    <div id="map">
      {{leaflet-map content=model}}
    </div>

  </div>
</div>
